@media screen and (max-width: 867px){
    main .grid {

      .grid_container{
        display: block;
        
        form{
          margin-top: 20px;
        }
        
        img{
          display: block;
          margin: auto;
        }
      }
      
      .color-container{
          display: block;

          div{
          height: 100px;
          margin: 10px;
          }
      }
        
    }
}
@media screen and(max-width: 534px) {
  main .grid .grid_container{
    form{
      grid-template-areas: 
      "i1"
      "i2"
      "ta"
      "bt";
    }
  }
}

@media screen and(max-width: 470px) {
  main .grid .grid_container{
    form{
      display: block;

      input, textarea{
        width: 100%;
      }
    }
  }
}